.todo{
    background-color: #222;
    margin: 0.5rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.todo:hover{
    background: #052c50;
}

.todo p{
    opacity: 0.6;
}

.btn{
    border: none;
    background-color: transparent;
    color: rgb(228, 152, 38);
    cursor: pointer;
}